[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target

[Service]
#User=prometheus
#Group=prometheus
User=root
Restart=on-failure
Type=simple
ExecStart=/usr/local/bin/prometheus \
    --config.file=/etc/prometheus/prometheus.yml \
    --storage.tsdb.path=/data/prometheus \
    --storage.tsdb.retention=2d 
#ExecStart=/opt/prometheus/prometheus \
#    --config.file /opt/prometheus/prometheus.yml \
#    --storage.tsdb.path /opt/prometheus/ \
#    --web.console.templates=/opt/prometheus/consoles \
#    --web.console.libraries=/opt/prometheus/console_libraries


 
[Install]
WantedBy=multi-user.target