apiVersion: 1
 
# list of datasources that should be deleted from the database
deleteDatasources:
  - name: Github
    orgId: 1
 
datasources:
  - name: GitHub
    type: grafana-github-datasource
    access: proxy
    uid: github
    url: https://api.github.com
    editable: true
